@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: inter;
}
.container{
    background: #fff;
    width: 100%;
}
.row{
    width: 1300px;
    margin: auto;
}
.box{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 1100px;
    height: 450px;
    margin-left: 130px;
    margin-top: 100px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    position: relative;
}
.logo img{
    width: 90px;
    margin-left: 50px;
    margin-top: 50px;
}
.right-side img{
    width: 413px;
    position: absolute;
    right: 0;
    border-radius: 0 20px 20px 0;
}

.text{
    margin-left: 50px;
    color: #7b6f6f;
    font-weight: 500;
    margin-top: 5px;
    font-size: 10px;
}
.text hr{
    margin-top: 10px;
    width: 400px;
}

.big-img{
    margin-left: 689px;
    border-radius: 20px;
    margin-top: -327px;
    width: 37.5%;
}

.cs-id{
    display: flex;
    margin-left: 70px;
    margin-top: 30px;
    border: none;
    padding-left: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    height: 35px;
    width: 260px;
}
.cs-id-1{
    margin-left: 70px;
    display: flex;
    margin-top: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-left: 40px;
    border-radius: 20px;
    height: 35px;
    width: 260px;
    border: none;
}
.cs-id,
.cs-id-1{
    outline: none;
    border: none;
}
.cs-id:hover,
.cs-id-1:hover{
    background-color: white;
}

#remember-pass{
    display: inline;
    margin-left: 70px;
    margin-top: 20px;
}
#re{
    color: #30a9bb;
}
.last-line{
    margin-top: 50px;
}
.frg{
    text-decoration: none;
    color: black;
    font-weight: 400;
    margin-left: 70px;
}
.btn{
    margin-left: 80px;
    color: white;
    background-color: #0c4ca3;
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover{
    background-color: white;
    color: #0c4ca3;
    border: 1px solid #0c4ca3;
}
.copyright p{
    margin-top: 10px;
    margin-left: 450px;
}

/* / @media (min-width: 768px) and (max-width: 991px) {
    .visible-sm-block {
      display: block !important;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .visible-sm-inline {
      display: inline !important;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .visible-sm-inline-block {
      display: inline-block !important;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .visible-md {
      display: block !important;
    }
} */ 